<%- include header.ejs %>
<body>
	<h1><%= title %></h1>
	<p>Welcome to <%= title %></p>	
	<div id="input-wrapper" class="input-wrapper">		
		<input id="brand-input" type="text" />		
		<button id="submit" class="test">submit</button>
		<div class="autocomplete"></div>
	</div>	
	<div id="results" class="results">
		<div>
			<h2 id="brand-name"></h2>
			<img id="brand-image" src="" />
			<div id="tester" style="width:600px;height:250px;"></div>

		</div>
	</div>
</body>
<%- include footer.ejs %>
