<%- include header.ejs %>
<body>
	<div class="search-container table">
		<div class="container table-cell">
			<div class="row">
				<div class="col-xs-12">
					<div class="text-center">
						<img id="logo" class="center logo" src="/images/logo-vit.png" />
						<div class="title-wrapper">
							<h1 class="white">HUR STÅR SIG DITT VARUMÄRKE PÅ ANDRAHANDSMARKNADEN?</h1>	
						</div>
						<div class="search-wrapper">
							<div id="input-wrapper" class="input-wrapper">		
								<input id="brand-input" type="text" placeholder="Sök varumärken" />
								<div class="select-wrapper">
									<select>
										<option>Kläder, skor, accessoarer</option>
									</select>
								</div>							
								<div class="autocomplete">
									<span class="suggestion"></span>
								</div>
							</div>
							<input type="submit" id="submit" class="test" value="SÖK"/>
						</div>
						<div id="results" class="results">
							<div>
								<h2 id="brand-name"></h2>
								<img id="brand-image" src="" />
								<div id="sold-plot" style="width:980px;height:500px;"></div>
								<div id="likes-plot" style="width:980px;height:500px;"></div>
								<div id="views-plot" style="width:980px;height:500px;"></div>

							</div>
						</div>
					</div>
				</div>
			 </div>			
		</div>
	</div>
	<div class="results-container">
		<div id="results" class="results">
			<div>
				<div class="result-header text-center">
					<h2 id="brand-name"></h2>
					<img id="brand-image" src="" />
				</div>
				<div id="tester" class="center" style="width:600px;height:250px;"></div>

			</div>
		</div>
	</div>
</body>
<%- include footer.ejs %>
