<%- include header.ejs %>
<body>
	<h1><%= title %></h1>
	<p>Welcome to <%= title %></p>	
	<input id="brand-input" type="text" /><button id="submit" class="test">submit</button>
	<div id="results">
		
	</div>
</body>
<%- include footer.ejs %>
