<%- include header.ejs %>
<body>
	<div class="search-container table">
		<div class="container table-cell">
			<div class="row">
				<div class="col-xs-12">
					<div class="text-center">
						<img id="logo" class="center logo" src="/images/logo-vit.png" />
						<div class="title-wrapper">
							<h1 class="white">HUR STÅR SIG DITT VARUMÄRKE PÅ ANDRAHANDSMARKNADEN?</h1>	
						</div>
						<div class="search-wrapper">
							<div id="input-wrapper" class="input-wrapper">		
								<input id="brand-input" type="text" placeholder="Sök varumärken" slug=""/>
								<input id="compare-input" type="text" placeholder="Jämför med" slug=""/>
								<!-- <div class="select-wrapper">
									<select>
										<option>Kläder, skor, accessoarer</option>
									</select>
								</div> -->
								<div class="autocomplete">
									<span class="suggestion"></span>
								</div>
								<div class="compare-autocomplete">
									<span class="compare-suggestion"></span>
								</div>
							</div>
							<input type="submit" id="submit" class="test" value="SÖK"/>
						</div>
						<button class="button-wide center" id="compare-toggle"> JÄMFÖR </button>
						<button class="button-wide center" id="regular-toggle"> ENKEL SÖKNING </button>
					</div>
				</div>
			 </div>			
		</div>
	</div>
	<div class="results-container">
		<div id="results" class="results center">
			<div>
				<div class="results-header text-center center">
					<img id="brand-image" src="" />
				</div>
				<div id="sold-plot" class="plot"></div>
				<div id="likes-plot" class="plot"></div>
				<div id="views-plot" class="plot"></div>
				<div id="convos-plot" class="plot"></div>
			</div>
		</div>
	</div>
</body>
<%- include footer.ejs %>
