<%- include header.ejs %>
<body>
	<div class="app-container">
		<h1 class="white">HUR STÅR SIG DITT VARUMÄRKE PÅ ANDRAHANDSMARKNADEN?</h1>	
		<div id="input-wrapper" class="input-wrapper">		
			<input id="brand-input" type="text" placeholder="Sök varumärken" />
			<div class="select-wrapper">
				<select>
					<option>Kläder, skor, accessoarer</option>
				</select>
			</div>
			<button id="submit" class="test">SÖK</button>
			<div class="autocomplete"></div>
		</div>	
		<div id="results" class="results">
			<div>
				<h2 id="brand-name"></h2>
				<img id="brand-image" src="" />
				<div id="tester" style="width:600px;height:250px;"></div>

			</div>
		</div>
	</div>
</body>
<%- include footer.ejs %>
