@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

body, html {
	height: 100%;
	width: 100%;  
  font: 14px "open sans", "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.logo {
	&.loading {
		-webkit-animation:spin 1.5s linear 3s;
		-moz-animation:spin 1.5s linear 3s;
		animation:spin 1.5s linear 3s;
	}	
}

.app-container {
	width: 100%;
	height: 100%;
	background-image: url('../images/bakgrund.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.results {
	max-height: 0;
	transition: max-height 300ms ease;
	overflow: hidden;
	&.has-result {
		max-height: 500px;
	}
}

.white {
	color: white;
}

.blue {
	color: #007fad;
}

.text-center {
	text-align: center;
}

.center {
	margin: 0 auto;
}

.table {
	display: table;
}

.table-cell {
	display: table-cell;
	vertical-align: middle;
}

.title-wrapper {
	width: 500px;
	margin: 20px auto;
	h1 {
		font-weight: 100;
	}
}

.autocomplete {
    position: absolute;
    /* left: 5px; */
    bottom: -36px;
    /* color: white; */
    height: 36px;
    max-height: 0px;    
    background: white;
    width: 300px;
    text-align: left;
    padding-left: 5px;
    transition: max-height 300ms ease;
    vertical-align: middle;
    &.show {
    	max-height: 36px;
    }
}

.suggestion {
	line-height: 36px;
}

.input-wrapper {
	width: 510px;
	border: 1px solid rgba(0,0,0,0.26);
	position: relative;
	display: inline-block;
	background: white;
	&:after {
		position: absolute;
		top: 8px;
		left: 300px;
		content: '';
		border-right: 1px solid rgba(0,0,0,0.26);
		height: 20px;
	}
}

.select-wrapper {
	display: inline-block;
	position: relative;
	width: 200px;
	&:after {
		position: absolute;
		content: '▼';
		color: #007fad;
		background: white;
		width: 20px;
		height: 20px;
		right: 10px;
	}
}

#brand-name {
	font-size: 36px;
	margin-right: 60px;
	display: inline-block;
}

#brand-image {
	height: 60px;
	display: inline-block;
}

#submit {
	margin-left: -5px;
	margin-top: -2px;
}

button, input[type="submit"] {
	background-color: #007fad;
	color: white !important;
	border: none;
	height: 36px;
	width: 80px;
}

input {
	padding-left: 5px;
	height: 36px;
	width: 300px;
	border: none;
}

select {
	color: #007fad;
	border: none;
	background: white;
}