@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

body, html {
	height: 100%;
	width: 100%;  
  font: 14px "open sans", "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

body {
	&.loading {
		button, input[type="submit"] {
			pointer-events: none;
		}
		.logo {
			-webkit-animation:spin 1.5s linear infinite;
			-moz-animation:spin 1.5s linear infinite;
			animation:spin 1.5s linear infinite;
		}
	}
}

.logo {
	height: 80px;	
}

.search-container {
	width: 100%;
	height: 100%;
	background-image: url('../images/bakgrund.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.results-container {
	background: white;
}

.results-header {
	width: 400px;
}

.results {
	max-height: 0;
	overflow: hidden;
	max-width: 980px;
	&.has-result {
		max-height: initial;
	}
}

.white {
	color: white;
}

.blue {
	color: #007fad;
}

.text-center {
	text-align: center;
}

.center {
	margin: 0 auto;
}

.table {
	display: table;
}

.table-cell {
	display: table-cell;
	vertical-align: middle;
}

.title-wrapper {
	width: 600px;
	margin: 30px auto;
	h1 {
		font-weight: 200;
		line-height: 1.4em
	}
}

.autocomplete {
    position: absolute;
    /* left: 5px; */
    bottom: -36px;
    /* color: white; */
    height: 36px;
    max-height: 0px;    
    background: white;
    width: 408px;
    text-align: left;
    padding-left: 5px;
    transition: max-height 150ms ease;
    vertical-align: middle;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    &.show {
    	max-height: 36px;
    }
}

.suggestion {
	line-height: 36px;
}

.input-wrapper {
	width: 410px;
	border: 1px solid rgba(0,0,0,0.26);
	position: relative;
	display: inline-block;
	background: white;
	border-radius: 2px;	
	input {
		display: block;
	}
	&.compare {
		input {
			width: 202px;
			display: inline-block;
		}
		&:after {
			position: absolute;
			top: 12px;
			left: 200px;
			content: '';
			border-right: 1px solid rgba(0,0,0,0.26);
			height: 20px;
		}
	}
}

.select-wrapper {
	display: inline-block;
	position: relative;
	width: 200px;
	&:after {
		position: absolute;
		content: '▼';
		color: #007fad;
		background: white;
		width: 20px;
		height: 20px;
		right: 10px;
	}
}

.search-wrapper {
	margin: 40px auto;
	margin-bottom: 80px;
}

.compare-search-wrapper {
	display: none;
}

.button-wide {
	width: 250px;
}

#brand-name {
	font-size: 36px;
	margin-right: 60px;
	display: inline-block;
}

#brand-image {
	height: 100px;
	display: inline-block;
}

#submit {
	margin-left: -5px;
	margin-top: -2px;
}

#compare-toggle {	
	display: block;
}

#regular-toggle {
	display: none;
}

#brand-input {
}

#compare-input {
	display: none;
}

button, input[type="submit"] {
	background-color: #007fad;
	color: white !important;
	border: none;
	height: 47px;
	width: 80px;
	&:hover {
		background-color: fadeOut(#007fad, 20%);
	}
}

input {
	padding-left: 5px;
	height: 46px;
	width: 404px;
	border: none;
	outline: 0;
}

select {
	color: #007fad;
	border: none;
	background: white;
}

.plot {
	width: 980px;
	height: 500px;
}

@media(max-width: 768px) {
	.plot {
		max-width: 425px;
		height: 300px;
	}
	h1 {
		font-size: 24px !important;
	}	
	.title-wrapper {
		width: 100%;
	}
	.input-wrapper {
		width: 100%;
	}
	.autocomplete {
		width: 100%;
		.suggestion {
			width: 100%;
		}
	}
	input {
		width: 100%;
	}
	.table {
		display: block;
	}
	.table-cell {
		display: block;
	}
	.search-container {
		padding: 60px 15px 0px 15px;
	}
}